target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/nbactions.xml
/result.xml
/config/dev-client-config.xml
/config/dev-server-config.xml
/nb-configuration.xml
/client/result*.xml
/client/config/dev-client-config.xml
/server/config/dev-server-config.xml
/server/nbactions.xml
/client/nbactions.xml
/reporting/nbactions.xml